<div class="container pt-5">
  <div class="row">
    <div class="col-md-6">
      <h1>The easy way to compare and buy life insurance</h1>
  <form class="zip_form">
  <div class="form-group row">
    <label for="zipcode" class="col-sm-2 col-form-label">Enter Zipcode</label>
    <div class="col-sm-10">
      <input type="zipcode" class="form-control" id="inputZipcode" placeholder="Enter Zipcode">
    </div>
  </div>
    <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Get Started</button>
    </div>
  </div>
</form>
</div> 
    <div class="col-md-6">
      <img class="img-fluid" src="https://policygenius-images.imgix.net/photos/home/mother-holding-yawning-baby.jpg?fit=max&auto=format&ch=Width,DPR&w=720">
    </div>
  </div>
</div>